<% include ../partials/header %>

<div class="container">
    <div class="row"> 
        <h1 class="newFormH1"> Add your comment to <%= bike.name %> ! </h1>
        
        <div class="newForm">
            <form action="/bikes/<%= bike._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="text" placeholder="Type comment here">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block"> Comment! </button>
                </div>
            </form>
            <a class="btn" href="/bikes/<% bike._id %>"> Go back </a>
        </div>
    
    </div>
</div>

<% include ../partials/footer %>