<% include ../partials/header %>

<div class="container">
    <div class="row"> 
        <h1 class="newFormH1"> Add your favorite camp to our list! </h1>
        
        <div class="newForm">
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Camp Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Describe your camp here!">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block"> Add my camp! </button>
                </div>
            </form>
            <a class="btn" href="/campgrounds"> Go back </a>
        </div>
    
    </div>
</div>

<% include ../partials/footer %>